@import '../../commmon/colors.scss';

.movie-card {
  background: $secondary-color;
  min-width: 220px;
  width: 220px;
  transition: all 0.3s;
  height: 100%;

  &:hover {
    transform: scale(1.1);
    transition: all 0.3s;
  }

  > figure {
    height: 300px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  > div {
    color: $primary-font;
    padding: 20px;

    > h4 {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 10px;
    }
  }
}
