@import '../../commmon/colors.scss';

.footer {
  color: $primary-font;
  background-color: $secondary-color;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
